body {
  /* background-size: cover!important; */
  /* background-image: url('assets/head_image.png')!important; */
  background: #121212;
  background-color: #121212!important;
}

thead {
  border-bottom: 1px solid white;
}

thead>tr>.android {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}